.my-bg-orange {
    background-color: orangered;
}

.my-about-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.my-about-txt {
    margin: auto;
}

.my-about-paragraphs {
    text-align: justify;
}

#projects .card {
    height: 100%;
}

#skills .card {
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}